/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 160px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}


.fixed-bottom-socials {
  position: fixed !important;
  bottom: 20px !important; 
  left: 0;
  width: 100%;
  z-index: 9999 !important; 
  pointer-events: none;     
  text-align: center;       

  .social {
    display: inline-block;
    pointer-events: auto;   
    margin: 0;
    text-align: center;

    .contact-icons {
      font-size: 2rem; // Matches your _base.scss preference
      
      a i::before {
        // Adds a tiny shadow so icons are readable over text/images
        text-shadow: 0px 0px 8px var(--global-bg-color);
      }
    }
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
